extends ../layout

block content
  h1= title
  form(method="POST" action="/users")
    label(for="first_name")= "First name"
    input(type="text" name="first_name" id="first_name")
    if errors.first_name
      p= errors.first_name

    label(for="last_name")= "Last name"
    input(type="text" name="last_name" id="last_name")
    if errors.last_name
      p= errors.last_name

    label(for="username")= "Username"
    input(type="text" name="username" id="username")
    if errors.username
      p= errors.username

    input(type="submit")